#!/bin/bash
#SBATCH -J __MRO_JOB_NAME__
#SBATCH --export=ALL
#SBATCH --ntasks=1 --cpus-per-task=12
#SBATCH --partition=pi_gerstein 
#SBATCH --no-requeue
#SBATCH -t 0-48:00:00
#SBATCH --mem=60G
#SBATCH -o __MRO_STDOUT__
#SBATCH -e __MRO_STDERR__
__MRO_CMD__
